body, html {
  height: 100%;
  overflow: hidden;
}

/*.main {*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*flex-grow: 1;*/
  /*overflow: hidden;*/
  /*height: 100vh;*/
/*}*/

/*.fill {*/
  /*min-height: 100%;*/
/*}*/

.sidebar {
  background: #71397c;
  /*overflow-y: scroll;*/
}

.messages {
  background: #eeeeee;
  /*overflow-y: scroll;*/
}

.test {
  background: tomato;
  border: 5px dashed cornflowerblue;
}
