$purple1: #51075e;
$purple2: #71397c;
$purple3: #875191;
$purple4: #a67cae;

$peach: #f6efe8;
$white: #ffffff;
$off_white: #eeeeee;
$lightergray: #f5f5f5;
$lightgray: #8b878b;
$darkgray: #5b585c;
$darkergray: #403e41;

$userblueborder: #004085;
$userblue: #cce5ff;


* {
  box-sizing: border-box;
}

body,html {
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  height: 100%;
  //overflow: hidden;
}

//Navbar
#navbar {
  background: $purple1;
  border: 1px solid black;
}
.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}
//.navbar-icon {
//  align-items:center;
//}
.navbar-list .navbar-brand,
.navbar-list .nav-link {
  color: $white;
  align-items: center;
}
.usercard {
  background: $purple4;
  border: 1px solid $darkergray;
  padding: 2px;
  border-radius: 2.5px;
  width: 200px;
  //align-items: center;
}
.usercard img {
  padding: 1px;
  border-radius: 2.5px;
  width: 50px;
  height: 50px;
}

//Sidebar
.sidebar {
  overflow: auto;
  background-color: $purple3;
  position: fixed;
  left: 0px;
  padding: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  .menu-content {
    padding: 0px;
  }
  .header {
    background-color: $purple2;
    border-bottom: 1px solid $darkergray;
    line-height: 45px;
    display: block;
    text-align: center;
    font-size: large;
  }
  .toggle-btn {
    display: none;
  }
  .add-channel {
    border-style: none;
    border-bottom: 1px solid $darkergray;

  }
  .channel {
    list-style: none;
    padding: 0px;
    margin: 0px;
    line-height: 35px;
    cursor: pointer;
  }
  .channel .active {
    border-left: 3px solid #d19b3d;
    background-color: #4f5b69;
  }
  .channel {
    padding-left: 0px;
    border-left: 3px solid #2e353d;
    border-bottom: 1px solid $darkergray;
  }
  .channel a {
    text-decoration: none;
    color: #e1ffff;
    padding-left: 10px;
  }
  .channel a i {
    padding-left: 10px;
    width: 20px;
    padding-right: 20px;
  }
  .channel:hover {
    border-left: 3px solid #d19b3d;
    background-color: $purple4;
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
  }
}


//.sidebar ul :not(collapsed) .arrow:before,
//.sidebar li :not(collapsed) .arrow:before {
//  font-family: FontAwesome;
//  content: "\f078";
//  display: inline-block;
//  padding-left: 10px;
//  padding-right: 10px;
//  vertical-align: middle;
//  float: right;
//}
//
//.sidebar ul .sub-menu li.active,
//.sidebar li .sub-menu li.active {
//  color: #d19b3d;
//}
//.sidebar ul .sub-menu li.active a,
//.sidebar li .sub-menu li.active a {
//  color: #d19b3d;
//}
//.sidebar ul .sub-menu li,
//.sidebar li .sub-menu li {
//  background-color: #181c20;
//  border: none;
//  line-height: 28px;
//  border-bottom: 1px solid #23282e;
//  margin-left: 0px;
//}
//.sidebar ul .sub-menu li:hover,
//.sidebar li .sub-menu li:hover {
//  background-color: #020203;
//}
//.sidebar ul .sub-menu li:before,
//.sidebar li .sub-menu li:before {
//  font-family: FontAwesome;
//  content: "\f105";
//  display: inline-block;
//  padding-left: 10px;
//  padding-right: 10px;
//  vertical-align: middle;
//}


//Messages Column
#main {
  overflow: auto;
  //background: $peach;
  background: $lightergray;
}
#message-box {
  position: fixed;
  bottom: 0;
  background: $off_white;
  border: 1px solid $darkergray;
  border-radius: 5px;
}

//New channel modal
.new-channel-container {
  width: 100%;
  background: $lightergray;
}


//Home Page
.media {
  display: flex;
  flex-direction: row;
  //border: 2px solid black;
  border-radius: 5px;
  margin-bottom: 5px;
  .timestamp {
    font-weight: bold;
    margin: 0;
    font-size: 12px;
  }
  img {
    height: 100px;
    padding: 5px;
    margin: 5px;
    background: $lightgray;
    border: 2px inset black;
    border-radius: 5px;
    align-self: flex-end;
  }
}

.media-body {
  background: $off_white;
  border: 1.5px inset $darkergray;
  border-radius: 15px 15px 15px 5px;
  padding: 0px 20px;
  margin-bottom: 5px;
  p {
    margin-bottom: 0px;
  }
}
.media.self {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}
.media.self img {
  background: $userblue;
  border: 2px inset $userblueborder;
}
.media.self .media-body {
  border-radius: 15px 15px 5px 15px;
}


/*Fake Sidebar*/
.fake-sidebar {
  overflow: auto;
  background-color: $purple3;
  left: 0px;
  padding: 0px;
  margin: 0px auto;
  max-width: 300px;
  height: 100%;
  color: $white;
  ul {
    list-style: none;
    cursor: pointer;
    line-height: 35px;
    padding: 0px;
  }
  li {
    padding-left: 20px;
  }
  li a {
    color: $white;
  }
  .header {
    background-color: $purple2;
    border-bottom: 1px solid $darkergray;
    line-height: 50px;
    display: block;
    text-align: center;
    cursor: default;
    padding-left: 0px;
  }
  .add-channel {
    cursor: default;
  }
}

footer {
  background: $lightergray;
  margin: 0px -15px;
}

//Login Page
.login-page {
  display: block;
  position: absolute;  //Not sure why #login-page is not at top
  top: 0;
  flex-shrink: 1;
}

.login-container {
  display: block;
  background: $off_white;
  //height: 400px;
  width: 400px;
  margin: 150px auto 0px;  //top right&left bottom
  padding: 20px;
}

#login-header {
  text-align: center;
}


//Signup Page
.avatar-container {
  background: $off_white;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: flex-start;
  img {
    width: 75px;
    padding: 10px;
    margin: 5px;
    background: $lightgray;
    border: 2px inset black;
    border-radius: 5px;
  }
}




/*When screen width is below 767 pixels*/
@media (max-width: 767px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }
  .sidebar .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    padding-left: 20px;
    line-height: 50px !important;
  }
  //#message-box {
  //  width: 100%;
  //}
  .login-container {
    width: 100%;
  }
}

/*When screen width is above 767 pixels...*/
@media (min-width: 767px) {
  .sidebar .menu-list .menu-content {
    display: block;
  }
  #main {
  	width: calc(100% - 300px);
    float: right;
  }
  #message-box {
    width: calc(100% - 300px);
  }
  .login-container {
    width: 576px;
  }
}


//////////////////////////////////////////////////////////////////////////////
//Just for login_test.html
//////////////////////////////////////////////////////////////////////////////
@media (min-width: 576px) {
  .signup-alert {
    width: 576px;
  }
  #login-header::before {
    content: "Please Log In to Shlack";
  }
  #signup-header::before {
    content: "Sign Up for Shlack";
  }
}

@media (max-width: 575px) {
  .signup-alert {
    width: 100%;
  }
  #login-header::before {
    content: "Please Log In"
  }
  #signup-header::before {
    content: "Sign Up"
  }
}

#signup-header {
  text-align: center;
}
.signup-alert {
  align-content: center;
}
.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
