@charset "UTF-8";
* {
  box-sizing: border-box;
}

body, html {
  margin: 0px;
  padding: 0px;
  max-height: 100%;
  height: 100%;
}

/*Navbar*/
#navbar {
  background: #51075e;
  border: 1px solid black;
}

.navbar-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
  margin: 10px 0;
  padding: 0;
}

.navbar-list .navbar-brand,
.navbar-list .nav-link {
  color: #ffffff;
  align-items: center;
}

.usercard {
  background: #a67cae;
  border: 1px solid #403e41;
  padding: 2px;
  border-radius: 2.5px;
  width: 200px;
}

.usercard img {
  padding: 1px;
  border-radius: 2.5px;
  width: 50px;
  height: 50px;
}

/*Sidebar*/
.sidebar {
  overflow: auto;
  background-color: #875191;
  position: fixed;
  left: 0px;
  padding: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
}

.sidebar .header {
  background-color: #71397c;
  border-bottom: 1px solid #403e41;
  line-height: 50px;
  display: block;
  text-align: center;
}

.sidebar .toggle-btn {
  display: none;
}

.sidebar ul,
.sidebar li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;
}

.sidebar ul :not(collapsed) .arrow:before,
.sidebar li :not(collapsed) .arrow:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.sidebar ul .active,
.sidebar li .active {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
}

.sidebar ul .sub-menu li.active,
.sidebar li .sub-menu li.active {
  color: #d19b3d;
}

.sidebar ul .sub-menu li.active a,
.sidebar li .sub-menu li.active a {
  color: #d19b3d;
}

.sidebar ul .sub-menu li,
.sidebar li .sub-menu li {
  background-color: #181c20;
  border: none;
  line-height: 28px;
  border-bottom: 1px solid #23282e;
  margin-left: 0px;
}

.sidebar ul .sub-menu li:hover,
.sidebar li .sub-menu li:hover {
  background-color: #020203;
}

.sidebar ul .sub-menu li:before,
.sidebar li .sub-menu li:before {
  font-family: FontAwesome;
  content: "";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
}

.sidebar li {
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #403e41;
}

.sidebar li a {
  text-decoration: none;
  color: #e1ffff;
  padding-left: 10px;
}

.sidebar li a i {
  padding-left: 10px;
  width: 20px;
  padding-right: 20px;
}

.sidebar li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #a67cae;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

/*Right Column*/
#main {
  overflow: auto;
  background: #f6efe8;
}

#message-box {
  position: fixed;
  bottom: 0;
  background: #eeeeee;
}

.media {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
  margin-bottom: 5px;
}
.media .timestamp {
  font-weight: bold;
  margin: 0;
}
.media img {
  height: 100px;
  padding: 5px;
  margin: 5px;
  background: #8b878b;
  border: 2px inset black;
  border-radius: 5px;
  align-self: flex-end;
}

.media-body {
  background: #eeeeee;
  border: 1.5px inset #403e41;
  border-radius: 15px 30px 15px 5px;
  padding: 0px 20px;
  margin-bottom: 5px;
}
.media-body p {
  margin-bottom: 0px;
}

.chat.self {
  display: flex;
  flex-direction: row-reverse;
  text-align: right;
}

.chat.self img {
  background: #cce5ff;
  border: 2px inset #004085;
}

.chat.self .media-body {
  border-radius: 30px 15px 5px 15px;
}

footer {
  background: #f5f5f5;
  margin: 0px -15px;
}

/*When screen width is below 767 pixels*/
@media (max-width: 767px) {
  .sidebar {
    position: relative;
    width: 100%;
    height: auto;
  }

  .sidebar .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 6px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }

  .brand {
    text-align: left !important;
    padding-left: 20px;
    line-height: 50px !important;
  }

  #message-box {
    width: 100%;
  }
}
/*When screen width is above 767 pixels...*/
@media (min-width: 767px) {
  .sidebar .menu-list .menu-content {
    display: block;
  }

  #main {
    width: calc(100% - 300px);
    float: right;
  }

  #message-box {
    width: calc(100% - 300px);
  }
}
@media (min-width: 576px) {
  .login-container {
    width: 576px;
    background: #eeeeee;
  }

  .signup-alert {
    width: 576px;
  }

  #login-header::before {
    content: "Please Log In to Shlack";
  }

  #signup-header::before {
    content: "Sign Up for Shlack";
  }
}
@media (max-width: 575px) {
  .login-container {
    width: 100%;
  }

  .signup-alert {
    width: 100%;
  }

  #login-header::before {
    content: "Please Log In";
  }

  #signup-header::before {
    content: "Sign Up";
  }
}
#signup-header {
  text-align: center;
}

#login-header {
  text-align: center;
}

.signup-alert {
  align-content: center;
}

.list-container {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*# sourceMappingURL=style.css.map */
