{% extends "layout.html" %}

{% block title %}
  Chat
{% endblock %}

{% block scripts %}
  <script src="{{ url_for('static', filename='channel.js') }}"></script>
{% endblock %}

{% block body %}
  <div id="sidebar" class="sidebar container-fluid">
    <div class="row">
      <div class="col">

      </div>
    </div>

    <div class="header">Channels</div>
    <span class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></span>
    <div class="menu-list">
      <ul id="menu-content" class="menu-content collapse">
        <li class="add-channel justify-content-center d-flex">
          <button class="btn btn-secondary " data-target="#channel-modal" data-toggle="modal"> Add Channel <i
              class="fa fa-plus"></i></button>
        </li>

        {% for channel in channels %}
          <li class="channel">
            <a href={{ url_for('channel', channel_name=channel.name) }}># {{ channel.name }} <span class="arrow"></span></a>
          </li>
        {% endfor %}

      </ul>
    </div>
  </div>


  <div id="main" class="container-fluid">
    <div class="row">
      <div id="messages" class="col-12">
        {% for post in posts %}
          {% include "_post.html" %}
        {% endfor %}
      </div>
    </div>

    <form action="" method="POST" novalidate>
      {{ new_post_form.hidden_tag() }}
      <div id="message-box" class="row">
        <div class="col-12 message-box py-2">
          <div class="input-group ">
            {{ new_post_form.post_body(class_="form-control", placeholder="Type your message") }}
            {#            <input class="form-control" type="text" placeholder="Type your message" aria-label="" aria-describedby="">#}
            <div class="input-group-append">
              {{ new_post_form.submit(class_="btn btn-outline-secondary") }}
              {#              <button id="send-button" class="btn btn-outline-secondary" type="button">Send</button>#}
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>


  <!-- Add Channel Modal -->
  <div class="modal fade" id="channel-modal" tabindex="-1" role="dialog" aria-labelledby="channelModalLabel"
       aria-hidden="true">
    <div class="modal-dialog" role="document">

      <div class="modal-content">

        <div class="modal-header">
          <h5 class="modal-title" id="channelModalLabel">Create a new Shlack channel!</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>

        <div class="modal-body new-channel-container">
          <form action="" method="POST" novalidate>
            {{ new_channel_form.hidden_tag() }}
            <p>
              {% if new_channel_form.channel_name.errors %}
                {{ new_channel_form.channel_name(class_="form-control is-invalid", placeholder="Enter new channel name") }}
                {% for error in new_channel_form.channel_name.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ new_channel_form.channel_name(class_="form-control", placeholder="Enter new channel name") }}
              {% endif %}
            </p>
            <p>{{ new_channel_form.submit(class_="btn btn-primary") }}</p>
          </form>
        </div>

      </div>

    </div>
  </div>

  {#<script src="{{url_for('static', filename='chat.js')}}"></script>#}

{% endblock %}
