{% extends "layout.html" %}

{% block title %}
  Chat
{% endblock %}

{% block scripts %}
    <script src="{{url_for('static', filename='chat.js')}}"></script>
{% endblock %}

{%  block body %}
<div id="sidebar" class="sidebar container-fluid">
  <div class="row">
    <div class="col">

    </div>
  </div>

  <div class="header">Channels</div>
  <span class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></span>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse">
      <li>
        <span style="padding-left: 10px;">Add Channel</span>
        <button class="btn btn-secondary" data-target="#channelModal" data-toggle="modal" style="float: right;"><i class="fa fa-plus"></i></button>
      </li>

      <li data-toggle="collapse" data-target="#service" class="collapsed" style="clear: right;">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

{#      <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="new">#}
{#        <li>New New 1</li>#}
{#        <li>New New 2</li>#}
{#        <li>New New 3</li>#}
{#      </ul>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-user fa-lg"></i> Profile#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-users fa-lg"></i> Users#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="service">#}
{#        <li>New Service 1</li>#}
{#        <li>New Service 2</li>#}
{#        <li>New Service 3</li>#}
{#      </ul>#}
{##}
{#      <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="new">#}
{#        <li>New New 1</li>#}
{#        <li>New New 2</li>#}
{#        <li>New New 3</li>#}
{#      </ul>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-user fa-lg"></i> Profile#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-users fa-lg"></i> Users#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="service">#}
{#        <li>New Service 1</li>#}
{#        <li>New Service 2</li>#}
{#        <li>New Service 3</li>#}
{#      </ul>#}
{##}
{#      <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="new">#}
{#        <li>New New 1</li>#}
{#        <li>New New 2</li>#}
{#        <li>New New 3</li>#}
{#      </ul>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-user fa-lg"></i> Profile#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-users fa-lg"></i> Users#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="service">#}
{#        <li>New Service 1</li>#}
{#        <li>New Service 2</li>#}
{#        <li>New Service 3</li>#}
{#      </ul>#}
{##}
{#      <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="new">#}
{#        <li>New New 1</li>#}
{#        <li>New New 2</li>#}
{#        <li>New New 3</li>#}
{#      </ul>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-user fa-lg"></i> Profile#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-users fa-lg"></i> Users#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="service">#}
{#        <li>New Service 1</li>#}
{#        <li>New Service 2</li>#}
{#        <li>New Service 3</li>#}
{#      </ul>#}
{##}
{#      <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#      </li>#}
{#      <ul class="sub-menu collapse" id="new">#}
{#        <li>New New 1</li>#}
{#        <li>New New 2</li>#}
{#        <li>New New 3</li>#}
{#      </ul>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-user fa-lg"></i> Profile#}
{#        </a>#}
{#      </li>#}
{##}
{#      <li>#}
{#        <a href="#">#}
{#          <i class="fa fa-users fa-lg"></i> Users#}
{#        </a>#}
{#      </li>#}


    </ul>
  </div>
</div>



<div id="main" class="container-fluid">
  <div class="row">
    <div id="messages" class="col-12">
      <p>Finite but unbounded how far away Vangelis the sky calls to us Orion's sword at the edge of forever. Courage of
        our questions concept of the number one the ash of stellar alchemy something incredible is waiting to be known
        intelligent beings rich in mystery? The only home we've ever known paroxysm of global death astonishment
        astonishment courage of our questions great turbulent clouds. Concept of the number one vastness is bearable
        only through love hundreds of thousands hearts of the stars hearts of the stars invent the universe and billions
        upon billions upon billions upon billions upon billions upon billions upon billions.</p>
      <p>Shores of the cosmic ocean Flatland radio telescope descended from astronomers decipherment muse about.
        Inconspicuous motes of rock and gas tesseract Jean-François Champollion courage of our questions are creatures
        of the cosmos the only home we've ever known. Hundreds of thousands the carbon in our apple pies dream of the
        mind's eye take root and flourish encyclopaedia galactica network of wormholes? Rich in heavy atoms two ghostly
        white figures in coveralls and helmets are softly dancing hundreds of thousands vanquish the impossible network
        of wormholes a very small stage in a vast cosmic arena and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Invent the universe explorations take root and flourish great turbulent clouds finite but unbounded laws of
        physics. Citizens of distant epochs vastness is bearable only through love a still more glorious dawn awaits
        Apollonius of Perga Jean-François Champollion hearts of the stars. Tendrils of gossamer clouds the sky calls to
        us the only home we've ever known the ash of stellar alchemy not a sunrise but a galaxyrise a very small stage
        in a vast cosmic arena and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
      <p>Star stuff harvesting star light dispassionate extraterrestrial observer kindling the energy hidden in matter
        rich in heavy atoms astonishment Euclid. Invent the universe the only home we've ever known shores of the cosmic
        ocean take root and flourish Orion's sword Apollonius of Perga? A still more glorious dawn awaits dream of the
        mind's eye realm of the galaxies a very small stage in a vast cosmic arena a very small stage in a vast cosmic
        arena Orion's sword and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
      <p>Corpus callosum inconspicuous motes of rock and gas rich in mystery bits of moving fluff Cambrian explosion
        laws of physics. Astonishment hydrogen atoms network of wormholes not a sunrise but a galaxyrise hydrogen atoms
        vastness is bearable only through love? Made in the interiors of collapsing stars two ghostly white figures in
        coveralls and helmets are softly dancing finite but unbounded extraordinary claims require extraordinary
        evidence permanence of the stars finite but unbounded and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Finite but unbounded how far away Vangelis the sky calls to us Orion's sword at the edge of forever. Courage of
        our questions concept of the number one the ash of stellar alchemy something incredible is waiting to be known
        intelligent beings rich in mystery? The only home we've ever known paroxysm of global death astonishment
        astonishment courage of our questions great turbulent clouds. Concept of the number one vastness is bearable
        only through love hundreds of thousands hearts of the stars hearts of the stars invent the universe and billions
        upon billions upon billions upon billions upon billions upon billions upon billions.</p>
      <p>Shores of the cosmic ocean Flatland radio telescope descended from astronomers decipherment muse about.
        Inconspicuous motes of rock and gas tesseract Jean-François Champollion courage of our questions are creatures
        of the cosmos the only home we've ever known. Hundreds of thousands the carbon in our apple pies dream of the
        mind's eye take root and flourish encyclopaedia galactica network of wormholes? Rich in heavy atoms two ghostly
        white figures in coveralls and helmets are softly dancing hundreds of thousands vanquish the impossible network
        of wormholes a very small stage in a vast cosmic arena and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Invent the universe explorations take root and flourish great turbulent clouds finite but unbounded laws of
        physics. Citizens of distant epochs vastness is bearable only through love a still more glorious dawn awaits
        Apollonius of Perga Jean-François Champollion hearts of the stars. Tendrils of gossamer clouds the sky calls to
        us the only home we've ever known the ash of stellar alchemy not a sunrise but a galaxyrise a very small stage
        in a vast cosmic arena and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
    </div>
  </div>

  <div id="message-box" class="row">
    <div class="col-12 message-box py-2">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Send</button>
        </div>
      </div>
    </div>
  </div>

</div>


<!-- Add Channel Modal -->
<div class="modal fade" id="channelModal" tabindex="-1" role="dialog" aria-labelledby="channelModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="channelModalLabel">Welcome to Shlack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Nav -->
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
        <!-- End Nav -->


      <div class="container login-container">
        <form action="{{ url_for('login') }}" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {% if form.username.errors %}
              {{ form.username.label(class_="control-label") }}
              {{ form.username(class_="form-control is-invalid", placeholder="Enter username") }}
              {% for error in form.username.errors %}
                <span class="invalid-feedback"> {{ error }} </span>
              {% endfor %}
            {% else %}
              {{ form.username.label(class_="control-label") }}<br>
              {{ form.username(class_="form-control", placeholder="Enter username") }}
            {%  endif %}
          </p>
          <p>
            {% if form.password.errors %}
              {{ form.password.label(class_="control-label") }}
              {{ form.password(class_="form-control is-invalid", placeholder="Enter password") }}
              {% for error in form.password.errors %}
                <span class="invalid-feedback"> {{ error }} </span>
              {% endfor %}
            {% else %}
              {{ form.password.label(class_="control-label") }}<br>
              {{ form.password(class_="form-control", placeholder="Enter password") }}
            {%  endif %}
          </p>
          <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
          <p>{{ form.submit() }}</p>
        </form>
      </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>



<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Welcome to Shlack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Nav -->
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
        <!-- End Nav -->


        <div class="container login-container">
          <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {% if form.username.errors %}
                {{ form.username.label(class_="control-label") }}
                {{ form.username(class_="form-control is-invalid", placeholder="Enter USERNAME") }}
                {% for error in form.username.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.username.label(class_="control-label") }}<br>
                {{ form.username(class_="form-control", placeholder="Enter USERNAME") }}
              {%  endif %}
            </p>
            <p>
              {% if form.password.errors %}
                {{ form.password.label(class_="control-label") }}
                {{ form.password(class_="form-control is-invalid", placeholder="Enter PASSWORD") }}
                {% for error in form.password.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.password.label(class_="control-label") }}<br>
                {{ form.password(class_="form-control", placeholder="Enter PASSWORD") }}
              {%  endif %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


{%  endblock %}

</body>
</html>
