<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='example.css' ) }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  <script src="{{url_for('static', filename='main.js')}}"></script>
</head>
<body>

<div id='navbar' class="container-fluid navbar">
  <div class="row">
    <div class="col-12">
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link nav-fill" href="">Sign Up</a>
        </li>
      </ul>
    </div>
  </div>
</div>


{#<nav class="navbar navbar-expand-lg navbar-light shadow">#}
{#  <a class="navbar-brand" href="#">Schlack</a>#}
{##}
{#  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapse_links"#}
{#          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
{#    <span class="navbar-toggler-icon"></span>#}
{#  </button>#}
{##}
{#  <div class="collapse navbar-collapse" id="collapse_links">#}
{#    <ul class="navbar-nav flex-grow-1">#}
{#      <li class="nav-item mr-auto">#}
{#        <div class="usercard d-flex flex-row no-gutters">#}
{#            <img src="./static/images/monster-34.svg"/>#}
{#          <div class="col">#}
{#            <p class="text-center text-white my-0">Username</p>#}
{#            <hr class="my-0">#}
{#            <p class="text-center text-white my-0"><small>Subtext</small></p>#}
{#          </div>#}
{#        </div>#}
{#      </li>#}
{#          Log In / Sign Up / Log Out#}
{#    {% if not logged_in %}#}
{#      <li class="nav-item">#}
{#        <a class="nav-link" href="">Login</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <a class="nav-link nav-fill" href="">Sign Up</a>#}
{#      </li>#}
{#      <li class="nav-item">#}
{#        <!-- Button trigger modal -->#}
{#        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">#}
{#          Launch demo modal#}
{#        </button>#}
{#      </li>#}
{#    {% else %}#}
{#      <li class="nav-item pl-0">#}
{#        <a class="nav-link" href="">Logout</a>#}
{#      </li>#}
{#    {% endif %}#}
{#    </ul>#}
{#  </div>#}
{#</nav>#}



<div class="nav-side-menu">
  <div class="brand">Brand Logo</div>
  <span class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></span>
  <div class="menu-list">
    <ul id="menu-content" class="menu-content collapse">
      <li>
        <a href="#">
          <span class="fa fa-dashboard fa-lg"></span> Dashboard
        </a>
      </li>

      <li data-toggle="collapse" data-target="#products" class="collapsed active">
        <a href="#"><span class="fa fa-gift fa-lg"></span> UI Elements <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="products">
        <li class="active"><a href="#">CSS3 Animation</a></li>
        <li><a href="#">General</a></li>
        <li><a href="#">Buttons</a></li>
        <li><a href="#">Tabs &amp; Accordions</a></li>
        <li><a href="#">Typography</a></li>
        <li><a href="#">FontAwesome</a></li>
        <li><a href="#">Slider</a></li>
        <li><a href="#">Panels</a></li>
        <li><a href="#">Widgets</a></li>
        <li><a href="#">Bootstrap Model</a></li>
      </ul>

      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><span class="fa fa-globe fa-lg"></span> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><span class="fa fa-car fa-lg"></span> New <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>

      <li>
        <a href="#">
          <span class="fa fa-user fa-lg"></span> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <span class="fa fa-users fa-lg"></span> Users
        </a>
      </li>

      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><span class="fa fa-globe fa-lg"></span> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><span class="fa fa-car fa-lg"></span> New <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>

      <li>
        <a href="#">
          <span class="fa fa-user fa-lg"></span> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <span class="fa fa-users fa-lg"></span> Users
        </a>
      </li>

      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><span class="fa fa-globe fa-lg"></span> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><span class="fa fa-car fa-lg"></span> New <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>

      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>

      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>

      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>

      <li data-toggle="collapse" data-target="#service" class="collapsed">
        <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="service">
        <li>New Service 1</li>
        <li>New Service 2</li>
        <li>New Service 3</li>
      </ul>

      <li data-toggle="collapse" data-target="#new" class="collapsed">
        <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
      </li>
      <ul class="sub-menu collapse" id="new">
        <li>New New 1</li>
        <li>New New 2</li>
        <li>New New 3</li>
      </ul>

      <li>
        <a href="#">
          <i class="fa fa-user fa-lg"></i> Profile
        </a>
      </li>

      <li>
        <a href="#">
          <i class="fa fa-users fa-lg"></i> Users
        </a>
      </li>


    </ul>
  </div>
</div>





{#TESTING#}
{##}
{#<div class="nav-side-menu">#}
{#    <div class="brand">Brand Logo</div>#}
{#    <i class="fa fa-bars fa-2x toggle-btn" data-toggle="collapse" data-target="#menu-content"></i>#}
{#    <div class="menu-list">#}
{#        <ul id="menu-content" class="menu-content collapse">#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-dashboard fa-lg"></i> Dashboard </a>#}
{#            </li>#}
{#            <li data-toggle="collapse" data-target="#products" class="collapsed active">#}
{#                <a href="#"><i class="fa fa-gift fa-lg"></i> UI Elements <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="products">#}
{#                <li class="active"><a href="#">CSS3 Animation</a></li>#}
{#                <li><a href="#">General</a></li>#}
{#                <li><a href="#">Buttons</a></li>#}
{#                <li><a href="#">Tabs &amp; Accordions</a></li>#}
{#                <li><a href="#">Typography</a></li>#}
{#                <li><a href="#">FontAwesome</a></li>#}
{#                <li><a href="#">Slider</a></li>#}
{#                <li><a href="#">Panels</a></li>#}
{#                <li><a href="#">Widgets</a></li>#}
{#                <li><a href="#">Bootstrap Model</a></li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users </a>#}
{#            </li>#}
{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users </a>#}
{#            </li>#}
{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users </a>#}
{#            </li>#}
{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users </a>#}
{#            </li>#}
{#            <li data-toggle="collapse" data-target="#service" class="collapsed">#}
{#                <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="service">#}
{#                <li>New Service 1</li>#}
{#                <li>New Service 2</li>#}
{#                <li>New Service 3</li>#}
{#            </ul>#}
{#            <li data-toggle="collapse" data-target="#new" class="collapsed">#}
{#                <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>#}
{#            </li>#}
{#            <ul class="sub-menu collapse" id="new">#}
{#                <li>New New 1</li>#}
{#                <li>New New 2</li>#}
{#                <li>New New 3</li>#}
{#            </ul>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-user fa-lg"></i> Profile </a>#}
{#            </li>#}
{#            <li>#}
{#                <a href="#">#}
{#                    <i class="fa fa-users fa-lg"></i> Users </a>#}
{#            </li>#}
{#        </ul>#}
{#    </div>#}
{#</div>#}

{#END  TESTING#}




<div id="main" class="container-fluid">
  <div class="row">
    <div id="messages" class="col-12">
      <p>Finite but unbounded how far away Vangelis the sky calls to us Orion's sword at the edge of forever. Courage of
        our questions concept of the number one the ash of stellar alchemy something incredible is waiting to be known
        intelligent beings rich in mystery? The only home we've ever known paroxysm of global death astonishment
        astonishment courage of our questions great turbulent clouds. Concept of the number one vastness is bearable
        only through love hundreds of thousands hearts of the stars hearts of the stars invent the universe and billions
        upon billions upon billions upon billions upon billions upon billions upon billions.</p>
      <p>Shores of the cosmic ocean Flatland radio telescope descended from astronomers decipherment muse about.
        Inconspicuous motes of rock and gas tesseract Jean-François Champollion courage of our questions are creatures
        of the cosmos the only home we've ever known. Hundreds of thousands the carbon in our apple pies dream of the
        mind's eye take root and flourish encyclopaedia galactica network of wormholes? Rich in heavy atoms two ghostly
        white figures in coveralls and helmets are softly dancing hundreds of thousands vanquish the impossible network
        of wormholes a very small stage in a vast cosmic arena and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Invent the universe explorations take root and flourish great turbulent clouds finite but unbounded laws of
        physics. Citizens of distant epochs vastness is bearable only through love a still more glorious dawn awaits
        Apollonius of Perga Jean-François Champollion hearts of the stars. Tendrils of gossamer clouds the sky calls to
        us the only home we've ever known the ash of stellar alchemy not a sunrise but a galaxyrise a very small stage
        in a vast cosmic arena and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
      <p>Star stuff harvesting star light dispassionate extraterrestrial observer kindling the energy hidden in matter
        rich in heavy atoms astonishment Euclid. Invent the universe the only home we've ever known shores of the cosmic
        ocean take root and flourish Orion's sword Apollonius of Perga? A still more glorious dawn awaits dream of the
        mind's eye realm of the galaxies a very small stage in a vast cosmic arena a very small stage in a vast cosmic
        arena Orion's sword and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
      <p>Corpus callosum inconspicuous motes of rock and gas rich in mystery bits of moving fluff Cambrian explosion
        laws of physics. Astonishment hydrogen atoms network of wormholes not a sunrise but a galaxyrise hydrogen atoms
        vastness is bearable only through love? Made in the interiors of collapsing stars two ghostly white figures in
        coveralls and helmets are softly dancing finite but unbounded extraordinary claims require extraordinary
        evidence permanence of the stars finite but unbounded and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Finite but unbounded how far away Vangelis the sky calls to us Orion's sword at the edge of forever. Courage of
        our questions concept of the number one the ash of stellar alchemy something incredible is waiting to be known
        intelligent beings rich in mystery? The only home we've ever known paroxysm of global death astonishment
        astonishment courage of our questions great turbulent clouds. Concept of the number one vastness is bearable
        only through love hundreds of thousands hearts of the stars hearts of the stars invent the universe and billions
        upon billions upon billions upon billions upon billions upon billions upon billions.</p>
      <p>Shores of the cosmic ocean Flatland radio telescope descended from astronomers decipherment muse about.
        Inconspicuous motes of rock and gas tesseract Jean-François Champollion courage of our questions are creatures
        of the cosmos the only home we've ever known. Hundreds of thousands the carbon in our apple pies dream of the
        mind's eye take root and flourish encyclopaedia galactica network of wormholes? Rich in heavy atoms two ghostly
        white figures in coveralls and helmets are softly dancing hundreds of thousands vanquish the impossible network
        of wormholes a very small stage in a vast cosmic arena and billions upon billions upon billions upon billions
        upon billions upon billions upon billions.</p>
      <p>Invent the universe explorations take root and flourish great turbulent clouds finite but unbounded laws of
        physics. Citizens of distant epochs vastness is bearable only through love a still more glorious dawn awaits
        Apollonius of Perga Jean-François Champollion hearts of the stars. Tendrils of gossamer clouds the sky calls to
        us the only home we've ever known the ash of stellar alchemy not a sunrise but a galaxyrise a very small stage
        in a vast cosmic arena and billions upon billions upon billions upon billions upon billions upon billions upon
        billions.</p>
    </div>
  </div>

  <div id="message-box" class="row">
    <div class="col-12 message-box py-2">
      <div class="input-group ">
        <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" type="button" id="button-addon1">Send</button>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
