{% extends "layout.html" %}

{% block title %}
  Chat
{% endblock %}


{% block body %}
  <div class="container-fluid overflow-auto" >

    <!--- Start First Row --->
    <div class="row" style="background: #f6efe8; height: 100%;">
      <div class="col-md-6 p-5">
        <h1 class="display-4 font-weight-bold">
          Shlack is where monsters meet
        </h1>
        <lead class="pt-5">
          When monsters come together, scaring just gets better.  Get REAL advice from REAL monsters.
        </lead>

      </div>
      <div class="col-md-6 p-5">

{#        <h1>#}
{#          Shlack is where the scares happen#}
{#        </h1>#}
{#        <lead>#}
{#          When monsters come together, scaring just gets better#}
{#        </lead>#}
{#        <div class="row">#}
{#          <div class="col">#}
{#          </div>#}
{#        </div>#}
{#        no-gutters needed to prevent x-dir overflow?#}

{#        PLACING VERTICALLY IN ONE COL#}
{#        <div class="row no-gutters">#}
{#          <div class="col pt-3">#}
{#            <div class="chat border border-dark">#}
{#              <img src="./static/images/monsters/monster-34.svg" style="float: left;"/>#}
{#              <p class="timestamp">username date:date:date</p>#}
{#              <p>Muse about courage of our questions encyclopaedia galactica Orion's sword with pretty stories for which there's little good evidence gathered by gravity and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>#}
{##}
{#            </div>#}
{#            <div class="chat border border-primary">#}
{#              <img src="./static/images/monsters/monster-60.svg" style="height: 100px; float: right;"/>#}
{#              <p><strong>username date:date:date</strong></p>#}
{#              <p>Muse about courage of our questions encyclopaedia galactica Orion's sword with pretty stories for which there's little good evidence gathered by gravity and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>#}
{#            </div>#}
{#          </div>#}
{#        </div>#}
{#      </div>#}

      <div class="media chat">
        <img src="./static/images/monsters/monster-34.svg" style="height: 100px;"/>
        <div class="media-body">
            <p class="timestamp">Gerp 12:09PM</p>
            <p>You must wait until the being is having night visions!</p>
        </div>
      </div>

      <hr>

      <div class="media chat self">
        <img src="./static/images/monsters/monster-3.svg" style="height: 100px;"/>
        <div class="media-body">
            <p class="timestamp">Zaphod 12:21PM</p>
            <p>What if the being's lifegiver checks under the lay-slab?</p>
        </div>
      </div>


      </div>

    </div>
    <!--- End First Row --->
    <!--- Start Second Row --->
    <div class="row flex-row-reverse" style="background: white; height: 100%;">
      <div class="col-md-6  p-5">
        <h1 class="display-4 font-weight-bold">
          Bringing monsters together in channels
        </h1>
        <lead class="pt-5">
          A channel is the place for everything related to a project, topic or team.=
          Everyone in a channel sees the same messages and stays on the same page.
        </lead>

      </div>

      <div class="col-md-6 p-5">

        <ul class="menu-content">
          <li>
            <span style="padding-left: 10px;">Add Channel</span>
            <button class="btn btn-secondary" data-target="#channelModal" data-toggle="modal" style="float: right;"><i class="fa fa-plus"></i></button>
          </li>

          <li data-toggle="collapse" data-target="#service" class="collapsed" style="clear: right;">
            <a href="#"><i class="fa fa-globe fa-lg"></i> Services <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="service">
            <li>New Service 1</li>
            <li>New Service 2</li>
            <li>New Service 3</li>
          </ul>

          <li data-toggle="collapse" data-target="#new" class="collapsed">
            <a href="#"><i class="fa fa-car fa-lg"></i> New <span class="arrow"></span></a>
          </li>
          <ul class="sub-menu collapse" id="new">
            <li>New New 1</li>
            <li>New New 2</li>
            <li>New New 3</li>
          </ul>

        </ul>

      </div>

    </div>
    <!--- End Second Row --->
    <!--- Start Third Row --->
    <div class="row" style="background: #f6efe8; height: 100%;">
      <div class="col-md-6  p-5">
        <h1 class="display-4 font-weight-bold">
          Share your scares with the community
        </h1>
        <lead class="pt-5">
          Help your fellow monsters scale up their scare skills!  Earn scream stars from Shlack community members
          that find your scare tactics effective.
        </lead>

      </div>

      <div class="col-md-6  p-5">

        <div class="media chat">
          <img src="./static/images/monsters/monster-41.svg" style="height: 100px;"/>
          <div class="media-body">
              <p class="timestamp">Calypso 12:09PM</p>
              <p>You should have seen the look on their faces when I said "Boo"!</p>
          </div>
        </div>

        <hr>

        <div class="media chat self">
          <img src="./static/images/monsters/monster-27.svg" style="height: 100px;"/>
          <div class="media-body">
              <p class="timestamp">Jeff 12:21PM</p>
              <p>Wow, what an inspirational story @Calypso!  As always, thanks for sharing.
                 I wish I could be as scary as you.  And also that my name wasn't Jeff.</p>
          </div>
        </div>

      </div>

    </div>
    <!--- End Third Row --->



    <!--- Start Fourth Row --->
    <div class="row" style="background: white; ">
      <div class="col-sm-4">
        <img src="./static/images/monsters/monster-34.svg" style="width: 100%;"/>

      </div>
      <div class="col-sm-4">
        <img src="./static/images/monsters/monster-34.svg" style="width: 100%;"/>

      </div>
      <div class="col-sm-4">
        <img src="./static/images/monsters/monster-34.svg" style="width: 100%;"/>

      </div>
    </div>

    <!--- End Fourth Row --->



    <footer class="text-center">
      2020 Shlack Inc &copy;
    </footer>
  </div>
  <!--- End Container --->

{% endblock %}




<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Welcome to Shlack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Nav -->
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
        <!-- End Nav -->


        <div class="container login-container">
          <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {% if form.username.errors %}
                {{ form.username.label(class_="control-label") }}
                {{ form.username(class_="form-control is-invalid", placeholder="Enter USERNAME") }}
                {% for error in form.username.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.username.label(class_="control-label") }}<br>
                {{ form.username(class_="form-control", placeholder="Enter USERNAME") }}
              {%  endif %}
            </p>
            <p>
              {% if form.password.errors %}
                {{ form.password.label(class_="control-label") }}
                {{ form.password(class_="form-control is-invalid", placeholder="Enter PASSWORD") }}
                {% for error in form.password.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.password.label(class_="control-label") }}<br>
                {{ form.password(class_="form-control", placeholder="Enter PASSWORD") }}
              {%  endif %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
