{% extends "layout.html" %}

{% block title %}
  Chat
{% endblock %}


{% block body %}
  <div class="container-fluid overflow-auto" >
    <div class="row" style="background: #f6efe8; height: 100%;">
      <div class="col-6 p-5">
        <h1 class="display-4 font-weight-bold">
          Shlack is where scares happen
        </h1>
        <lead class="pt-5">
          When monsters come together, scaring just gets better
        </lead>

      </div>
      <div class="col-6 p-5">
{#        <h1>#}
{#          Shlack is where the scares happen#}
{#        </h1>#}
{#        <lead>#}
{#          When monsters come together, scaring just gets better#}
{#        </lead>#}
{#        <div class="row">#}
{#          <div class="col">#}
{#          </div>#}
{#        </div>#}
{#        no-gutters needed to prevent x-dir overflow?#}
        <div class="row no-gutters">
          <div class="col pt-3">
            <div class="chat border border-dark">
              <img src="./static/images/monsters/monster-34.svg" style="float: left;"/>
              <p class="timestamp">username date:date:date</p>
              <p>Muse about courage of our questions encyclopaedia galactica Orion's sword with pretty stories for which there's little good evidence gathered by gravity and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>

            </div>
            <div class="chat border border-primary">
              <img src="./static/images/monsters/monster-60.svg" style="height: 100px; float: right;"/>
              <p><strong>username date:date:date</strong></p>
              <p>Muse about courage of our questions encyclopaedia galactica Orion's sword with pretty stories for which there's little good evidence gathered by gravity and billions upon billions upon billions upon billions upon billions upon billions upon billions.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endblock %}




<!-- Sign In Modal -->
<div class="modal fade" id="signInModal" tabindex="-1" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="signInModalLabel">Welcome to Shlack</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <!-- Nav -->
        <ul class="nav nav-tabs nav-fill">
          <li class="nav-item">
            <a class="nav-link active" href="#">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Register</a>
          </li>
        </ul>
        <!-- End Nav -->


        <div class="container login-container">
          <form method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
              {% if form.username.errors %}
                {{ form.username.label(class_="control-label") }}
                {{ form.username(class_="form-control is-invalid", placeholder="Enter USERNAME") }}
                {% for error in form.username.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.username.label(class_="control-label") }}<br>
                {{ form.username(class_="form-control", placeholder="Enter USERNAME") }}
              {%  endif %}
            </p>
            <p>
              {% if form.password.errors %}
                {{ form.password.label(class_="control-label") }}
                {{ form.password(class_="form-control is-invalid", placeholder="Enter PASSWORD") }}
                {% for error in form.password.errors %}
                  <span class="invalid-feedback"> {{ error }} </span>
                {% endfor %}
              {% else %}
                {{ form.password.label(class_="control-label") }}<br>
                {{ form.password(class_="form-control", placeholder="Enter PASSWORD") }}
              {%  endif %}
            </p>
            <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
            <p>{{ form.submit(class_="btn btn-primary") }}</p>
          </form>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
