<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}{% endblock %}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  {% block scripts %}{% endblock %}
</head>
<body>

<div id="navbar" class="container-fluid fixed-top position-sticky shadow">
      <ul class="navbar-list">
        <li>
          <a class="navbar-brand" href="{{url_for('index')}}">
            <img src="./static/images/brand-icons/017-speech-bubble-2.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          Shlack
          </a>
{#          <a class="navbar-brand" href="#">Schlack</a>#}
        </li>
        <li class="nav-item mr-auto">
          <div class="usercard d-flex flex-row no-gutters">
              <img src="./static/images/monsters/monster-34.svg"/>
            <div class="col">
              <p class="text-center text-white my-0">Username</p>
              <hr class="my-0">
{#              <p class="text-center text-white my-0"><small>Subtext</small></p>#}
{#              <span><img src="./static/images/specials/006-flask.svg" style="width: 25px"></span>#}
{#              <span><img src="./static/images/specials/009-cauldron.svg" style="width: 25px"></span>#}

            </div>
          </div>
        </li>

        {% if not logged_in %}
        <li class="nav-item">
          <a class="nav-link" href="">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-fill" href="{{ url_for("login_test") }}">Sign Up</a>
        </li>
        <li class="nav-item">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
            Launch demo modal
          </button>
        </li>
      {% else %}
        <li class="nav-item pl-0">
          <a class="nav-link" href="">Logout</a>
        </li>
      {% endif %}

      </ul>
</div>

{% block body %}{% endblock %}


</body>
</html>
