<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_test2.css' )}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>

{#      Body#}
<div class="container-fluid sticky-top topbar shadow">
  <div class="row">
    <div class="col">?</div>
  </div>
</div>

<div class="container-fluid fill">
  <div class="row">
    <div class="col-md-2 col-lg-1 sidebar">
      LEFT NAV<br>LEFT NAV<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
{#      Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>Left Nav<br>#}
    </div>
    <div class="col-md-10 col-lg-11 message-area">
      <div class="row">
        <div class="col-12">
          <ul>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>1</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
            <li>2</li>
          </ul>
        </div>
        <div class="col-12 message-box position-sticky fixed-bottom py-2 w-100">
          <div class="input-group ">
            <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" id="button-addon1">Send</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>


</body>
</html>
