<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' )}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>

{#      Body#}
  <div class="container-fluid fixed-top topbar shadow">
    <div class="row">
      <div class="col">?</div>
    </div>
  </div>

  <div class="container-fluid d-flex h-100 mt-4">
    <div class="row flex-grow-1">
      <div class="col sidebar">
        asdf
      </div>
      <div class="col messages">
        asdf
      </div>
    </div>
  </div>

  <div class="container d-flex">
    <div class="input-group fixed-bottom px-3 pb-3">
      <input type="text" class="form-control" placeholder="" aria-label="Example text with button addon" aria-describedby="button-addon1">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" id="button-addon1">Button</button>
      </div>
    </div>
  </div>




  </body>
</html>
