<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Sign Up</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='example.css' )}}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>

{#    Header#}
    <div class="jumbotron mb-0 pt-3 pb-3">
      <div class="container">
        <h1 class="display-4">GoodBookBadBook</h1>
        <p class="lead">Get leads on good reads.</p>
      </div>
    </div>

{#    Navigation Bar#}
    <nav class="navbar navbar-expand-md bg-dark navbar-dark sticky-top">
      <a class="navbar-brand" href="">Home</a>

{#      Toggler / Collapse Button#}
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsible_navbar">
        <span class="navbar-toggler-icon"></span>
      </button>

{#      NavBar Links#}
      <div id="collapsible_navbar" class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="">Books</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="">Authors</a>
          </li>

{#      Search Bar#}
          <li>
            <form class="form-inline ml-auto" action="", method="POST">
              <input name="search_query" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
          </li>
        </ul>

{#      Log In / Sign Up / Log Out#}
      {% if not logged_in %}
        <a class="nav-link ml-auto pl-0" href="">Login</a>
        <a class="nav-link pl-0" href="">Sign Up</a>
      {% else %}
        <a class="nav-link ml-auto pl-0" href="">Logout</a>
      {% endif %}
      </div>
    </nav>

{#      Flashed Messages#}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            {% if category == "error" %}
            <div id="error-msg" class="alert alert-danger signup-alert m-auto text-center" role="alert">
              {{ message }}
            </div>
            {% endif %}
            {% if category == "success" %}
            <div id="success-msg" class="alert alert-success signup-alert m-auto text-center" role="alert">
              {{ message }}
            </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      {% endwith %}

{#      Body#}
{#  <div class="login-container border border-light rounded-lg bg-light ml-auto mr-auto mt-5">#}
{#    <h3 id="login-header" class="text-center"></h3>#}
{##}
{#    <form class="form" action="{{ url_for("login_test") }}", method="POST">#}
{##}
{#      <div class="form-group">#}
{#        <label class="control-label col-4" for="username">Username:</label>#}
{#        <div class="col-12">#}
{#          <input id="username" name="username" class="form-control" type="text" placeholder="Enter username">#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="form-group">#}
{#        <label class="control-label col-4" for="pwd">Password:</label>#}
{#        <div class="col-12">#}
{#          <input id="pwd" name="pwd" class="form-control" type="password" placeholder="Enter password">#}
{#        </div>#}
{#      </div>#}
{##}
{#      <div class="form-group">#}
{#        <div class="col-sm-offset-2 col-4">#}
{#          <button type="submit" class="btn btn-default btn-outline-secondary">Submit</button>#}
{#        </div>#}
{#      </div>#}
{##}
{#    </form>#}
{##}
{#    <div class="row">#}
{#      <div class="col-6 text-center">#}
{#        <a href="#">Forgot Username?</a>#}
{#      </div>#}
{#      <div class="col-6 text-center">#}
{#        <a href="#">Forgot Password?</a>#}
{#      </div>#}
{#    </div>#}
{##}
{#  </div>#}

  <form action="{{ url_for('login_test') }}" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(size=32) }}<br>
      {% for error in form.username.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(size=32) }}<br>
      {% for error in form.password.errors %}
        <span style="color: red;">[{{ error }}]</span>
      {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>{{ form.submit() }}</p>
  </form>
  </body>
</html>




